* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
       background: linear-gradient(135deg, #f675c7, #fffcdc);

}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 350px;
    padding: 30px;
    background: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px gray;
}

h1 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid gray;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #f675c7;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}